<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://127.0.0.1:3306/hotelmanagement</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
<!--    <property name="hibernate.hbm2ddl.auto">create</property>-->
      <property name="hibernate.hbm2ddl.auto">update</property>
<!--    <property name="show_sql">true</property>-->
    <property name="format_sql">true</property>
    <property name="use_sql_comments">true</property>

    <mapping class="models.Hotel"></mapping>
    <mapping class="models.Staff"></mapping>
    <mapping class="models.Room"></mapping>
    <mapping class="models.Customer"></mapping>
    <mapping class="models.Booking"></mapping>
    <mapping class="models.Payment"></mapping>
  </session-factory>

</hibernate-configuration>

